$primary: rgb(200, 200, 200);
$blue: rgb(0, 82, 107);
$red: rgba(255, 0, 0, 0.5);
$ecarlate: rgba(255, 0, 0, 1);
$background: black;
$lightgrey: rgb(161, 161, 161);
$darkgrey: rgb(43, 43, 43);
$shadowgrey: rgba(43, 43, 43, 0.25);
$row: row;

@mixin flexCenter($row, $background) {
    display: flex;
    justify-content: flex-end;
    flex-direction: $row;
    background: $background;
    max-width: 100%;
}

* {
    font-family: "Barlow Condensed", sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 4rem;
}

.header {
    min-height: 200px;
    max-width: 100%;
    background-image: url("/IMG/nin_birds.jpg");
    background-size: 100%;
    background-position-y: 100%;
    background-repeat: no-repeat;
    &__utilitybar {
        @include flexCenter($row, $background);
        min-height: 50px;
    }
}

section ul {
    @include flexCenter($row, ()) align-items: center;
    padding: 0;
}

li {
    list-style-type: none;
}

.icon_partage::after {
    font-family: "Font Awesome 5 Free";
    content: "\f14d";
    margin-left: 5px;
}

.icon_login::after {
    font-family: "Font Awesome 5 Free";
    content: "\f007";
    margin-left: 5px;
}

input {
    font-family: "Font Awesome 5 Free";
    border: none;
    background: $background;
    border-bottom: 1px solid $lightgrey;
    border-radius: 0px;
    padding: 5px;
    margin: 5px 15px;
    border: 1px 0px 0px;
    &:focus {
        outline: none;
        border-bottom: 2px solid white;
        color: white;
    }
}

aside {
    margin-right: 25px;
    @include flexCenter($row, $darkgrey) justify-content: center;
    min-height: 100vh;
    min-width: 150px;
    align-items: flex-start;
    padding-top: 25px;
    border-right: 1px $red solid;
    li {
        padding: 5px;
    }
}

a {
    color: $primary;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 15px;
    &:hover {
        color: $blue;
    }
}

aside li:first-of-type a {
    color: $ecarlate;
}

aside li:last-of-type a {
    color: $ecarlate;
}

main {
    min-height: 100vh;
    @include flexCenter($row, $lightgrey)
    justify-content: flex-start;
}

main p {
    max-width: 400px;
    text-align: justify;
    margin-left: -75px;
    &::first-letter {
        font-family: "Times New Roman", Times, serif;
        text-transform: uppercase;
        font-size: 4rem;
        font-style: italic;
        font-weight: bold;
        padding-right: 2px;
    }
}

.main__content--block {
    @include flexCenter(column, ());
}


.main__content--row{
    @include flexCenter($row, ())
}

section article{
    width: 1000px;
}

/* CAROUSSEL */
.slideshow-container {
    max-width: 800px;
    position: relative;
    margin: auto;
  }
  
  /* Boutons précédent et suivant */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position du bouton suivant*/
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  
  /* Étiquette image en cours */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* text du nombre (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Indicateur / Points */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Animation fondu */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }




footer {
    @include flexCenter($row, $background);
    align-items: center;
    justify-content: center;
    min-height: 50px;
    color: $primary;
    padding: 25px;
    text-align: left;
}

form {
    input,
    select,
    optgroup,
    textarea,
    button {
        background-color: $darkgrey;
        color: white;
        border: 2px solid;
        border-radius: 4px;
        font-size: 1rem;
        margin: 0.25rem;
        min-width: 125px;
        padding: 0.5rem;
        transition: border-color 0.5s ease-out;
    }
}

tbody tr:nth-child(even) {
    background-color: $shadowgrey;
}

tr td:nth-child(3) {
    width: 950px;
}

button:hover {
    background-color: grey;
}

textarea {
    margin: 0;
}

input:required:valid {
    border-color: green;
}
input:invalid {
    border-color: red;
}
input:required:focus:valid {
    background: url("https://assets.digitalocean.com/labs/icons/hand-thumbs-up.svg") no-repeat 95% 50% lightgreen;
    background-size: 25px;
}
input:focus:invalid {
    background: url("https://assets.digitalocean.com/labs/icons/exclamation-triangle-fill.svg") no-repeat 95% 50%
        lightsalmon;
    background-size: 25px;
}
