@charset "UTF-8";
* {
  font-family: "Barlow Condensed", sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 4rem;
}

.header {
  min-height: 200px;
  max-width: 100%;
  background-image: url("/IMG/nin_birds.jpg");
  background-size: 100%;
  background-position-y: 100%;
  background-repeat: no-repeat;
}

.header__utilitybar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: black;
  max-width: 100%;
  min-height: 50px;
}

section ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

li {
  list-style-type: none;
}

.icon_partage::after {
  font-family: "Font Awesome 5 Free";
  content: "\f14d";
  margin-left: 5px;
}

.icon_login::after {
  font-family: "Font Awesome 5 Free";
  content: "\f007";
  margin-left: 5px;
}

input {
  font-family: "Font Awesome 5 Free";
  border: none;
  background: black;
  border-bottom: 1px solid #a1a1a1;
  border-radius: 0px;
  padding: 5px;
  margin: 5px 15px;
  border: 1px 0px 0px;
}

input:focus {
  outline: none;
  border-bottom: 2px solid white;
  color: white;
}

aside {
  margin-right: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: #2b2b2b;
  max-width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  min-width: 150px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 25px;
  border-right: 1px rgba(255, 0, 0, 0.5) solid;
}

aside li {
  padding: 5px;
}

a {
  color: #c8c8c8;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 15px;
}

a:hover {
  color: #00526b;
}

aside li:first-of-type a {
  color: red;
}

aside li:last-of-type a {
  color: red;
}

main {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: #a1a1a1;
  max-width: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

main p {
  max-width: 400px;
  text-align: justify;
  margin-left: -75px;
}

main p::first-letter {
  font-family: "Times New Roman", Times, serif;
  text-transform: uppercase;
  font-size: 4rem;
  font-style: italic;
  font-weight: bold;
  padding-right: 2px;
}

.main__content--block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 100%;
}

.main__content--row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 100%;
}

section article {
  width: 1000px;
}

/* CAROUSSEL */
.slideshow-container {
  max-width: 800px;
  position: relative;
  margin: auto;
}

/* Boutons précédent et suivant */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/* Position du bouton suivant*/
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Étiquette image en cours */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* text du nombre (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Indicateur / Points */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Animation fondu */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: black;
  max-width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 50px;
  color: #c8c8c8;
  padding: 25px;
  text-align: left;
}

form input,
form select,
form optgroup,
form textarea,
form button {
  background-color: #2b2b2b;
  color: white;
  border: 2px solid;
  border-radius: 4px;
  font-size: 1rem;
  margin: 0.25rem;
  min-width: 125px;
  padding: 0.5rem;
  -webkit-transition: border-color 0.5s ease-out;
  transition: border-color 0.5s ease-out;
}

tbody tr:nth-child(even) {
  background-color: rgba(43, 43, 43, 0.25);
}

tr td:nth-child(3) {
  width: 950px;
}

button:hover {
  background-color: grey;
}

textarea {
  margin: 0;
}

input:required:valid {
  border-color: green;
}

input:invalid {
  border-color: red;
}

input:required:focus:valid {
  background: url("https://assets.digitalocean.com/labs/icons/hand-thumbs-up.svg") no-repeat 95% 50% lightgreen;
  background-size: 25px;
}

input:focus:invalid {
  background: url("https://assets.digitalocean.com/labs/icons/exclamation-triangle-fill.svg") no-repeat 95% 50% lightsalmon;
  background-size: 25px;
}
/*# sourceMappingURL=styles.css.map */